@import '~normalize.css/normalize.css';
@import '~bulma/bulma.sass';

* {
    box-sizing: border-box;
}

body {
    background: url('https://images.unsplash.com/photo-1504662880849-32592cd4884e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#app {
    min-height: 100vh;
}

//Like button
.like {

    color: #414141;

    svg {
        width: 2rem !important;
        height: 2rem !important;
    }

    :hover {
        color: rgb(255, 0, 0);
    }
}

.navbar-brand>.navbar-item>svg {
    fill: #fff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 90vw;
    width: 30rem;
    border-radius: 16px;
    margin: 0 3rem 3rem;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        height: 100%;
        border-radius: 16px;

        .card-userinfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 1.5rem 0.5rem;

            figure {
                margin-right: 10px;
            }
        }

        .card-content {
            padding-top: 0.5rem;

            .card-timebox {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
        }

    }
}

.card-image img {
    border-radius: 16px 16px 0px 0px;
}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 1.5rem 8rem;
    background: whitesmoke;

    .user-start {
        align-items: center;
    }

    div {
        height: 100%;
    }
}

//Image preview
.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-bottom: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

//File upload button
.image-upload.hidden>* {
    opacity: 0;
}

.image-upload:hover>* {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}


/* Bulma fixes */
.is-transparent {
    background-color: transparent;
    background-image: none;
}

.is-justify-end {
    justify-content: flex-end;
}

.h100 {
    height: 100%;
}
