.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 90vw;
    width: 30rem;
    border-radius: 16px;
    margin: 0 3rem 3rem;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        height: 100%;
        border-radius: 16px;

        .card-userinfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 1.5rem 0.5rem;

            figure {
                margin-right: 10px;
            }
        }

        .card-content {
            padding-top: 0.5rem;

            .card-timebox {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
        }

    }
}

.card-image img {
    border-radius: 16px 16px 0px 0px;
}
