.like {
    background-color: transparent;
    border: none;
    color: #414141;
    outline: none;

    svg {
        width: 2rem !important;
        height: 2rem !important;
    }

}

.like.liked {
    color: rgb(255, 0, 0);
}
